{{>/layout/header}}

<form action="/join" method="post">
    <div class="form-group">
      <input type="username" class="form-control" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-end">
            <button id="btn-find" class="btn btn-info" type="button" >주소 찾기</button>
        </div>
      <input id="address" type="address" class="form-control" placeholder="Enter address" name="address" value="{{#data}}{{data}}{{/data}}">
    </div>
    <button type="submit" class="btn btn-primary" >로그인</button>
  </form>

  <script>

    // let으로 만들면 window가 init할때 생성을 못하는 것같다.!! 이 부분은 좀 더 알아보깋
    function jusoCallBack(roadFullAddr){
      $("#address").val(roadFullAddr);
    };

    let goPopup = () =>{
        let pop =  window.open(`/addrFind`,"주소찾기","width=570,height=420,scrollbars=yes,resizeable=yes")

    }

    $("#btn-find").click(()=>{
        goPopup();
    });
  </script>

{{>/layout/footer}}