{{>/layout/header}} {{#data}}
<div class="card" style="width:400px">
    <div class="d-flex justify-content-center my_mt_md">
        <div class="my_box_profile_img">
            <img class="my_fit_rounded_img" src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg" />
        </div>
    </div>
    <div class="card-body">
        <div>
            <div class="my_mt_md">아이디</div>
            <div class="my_mt_md">{{username}}</div>
            <div class="my_mt_md">주소 </div>
            <div class="my_mt_md">{{address}}</div>
        </div>
        <div class="my_mt_md">
            <a href="#" class="btn btn-primary">프로필 수정</a>
            <a href="/s/user/{{id}}/info-update-form" class="btn btn-primary">정보수정</a>
            <a href="/s/user/{{id}}/password-update-form" class="btn btn-primary">비밀번호 수정</a>
        </div>
    </div>
</div>

{{/data}}

<script src="/js/user/updateForm.js"></script>
{{>/layout/footer}}