<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <body onload="init();">
        <form id="form" name="form" method="post">
            <input type="hidden" id="confmKey" name="confmKey" value=""/>
            <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
            <input type="hidden" id=“resultType" name="resultType" value=""/>      
        </form> 
</body>
<script>
    let init=()=>{
        let url = location.href;
        let confmKey = "U01TX0FVVEgyMDIyMDUxODIwNTkzODExMjU4NTc=";
        let resultType = "4";
        let inputYn = $("#input").val();

        if(inputYn = "Y"){
            $("confmKey").val(confmKey);
            $("returnUrl").val(url);
            $("“resultType").val(resultType);
            $("from").attr("action","https://www.juso.go.kr/addrlink/addrLinkUrl.do");
        }
    }
</script>

</html>