<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body onload="init();">
    {{#data}}
    <input id="inputYn" type="hidden" value="{{inputYn}}" />
    <input id="roadFullAddr" type="hidden" value="{{roadFullAddr}}" /> {{/data}}
    <form id="form" name="form" method="get">
        <input type="hidden" id="confmKey" name="confmKey" value="" />
        <input type="hidden" id="returnUrl" name="returnUrl" value="" />
        <input type="hidden" id=“resultType " name="resultType " value=" "/>      
        </form> 
</body>

<script src="/js/jusoPopup.js "></script>
</html>